@import './reset';
@import './font-sizes';
@import './spacing';

h1, h2, h3, h4, span, li, div, p {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}

.menu {
  display: flex;
  justify-content: space-between;
  padding-top: $s-lg;
  margin-bottom: $s-lg;
}

// #root {
//   max-width: 1280px;
//   margin: 0 auto;
//   padding: 2rem;
//   text-align: center;
// }

// .logo {
//   height: 6em;
//   padding: 1.5em;
//   will-change: filter;
//   transition: filter 300ms;
// }
// .logo:hover {
//   filter: drop-shadow(0 0 2em #646cffaa);
// }
// .logo.react:hover {
//   filter: drop-shadow(0 0 2em #61dafbaa);
// }

// @keyframes logo-spin {
//   from {
//     transform: rotate(0deg);
//   }
//   to {
//     transform: rotate(360deg);
//   }
// }

// @media (prefers-reduced-motion: no-preference) {
//   a:nth-of-type(2) .logo {
//     animation: logo-spin infinite 20s linear;
//   }
// }

// .card {
//   padding: 2em;
// }

// .read-the-docs {
//   color: #888;
// }

.App {
  max-width: 1200px;
  margin: $s-lg auto;
  padding: 0 $s-lg;
}

:where(.css-dev-only-do-not-override-15rg2km).ant-radio-button-wrapper-checked:not(.ant-radio-button-wrapper-disabled):active, :where(.css-dev-only-do-not-override-15rg2km).ant-radio-button-wrapper-checked:not(.ant-radio-button-wrapper-disabled):hover {
  border-color:#36454F;
  color: #36454F;
  background: #f2f2fb;
}

:where(.css-dev-only-do-not-override-15rg2km).ant-radio-button-wrapper-checked:not(.ant-radio-button-wrapper-disabled):active::before, :where(.css-dev-only-do-not-override-15rg2km).ant-radio-button-wrapper-checked:not(.ant-radio-button-wrapper-disabled):hover::before {
  background-color: #36454F;
}