@import './App.scss';

.daily-tracking__header-cell {
    text-align: left;
    width: 0;
    height: 0;
    overflow: hidden;
}

.daily-tracking__header-day {
    width: 0;
    height: 0;
    display: inline-block;
    opacity: 0;
}

.daily-tracking-row {

}

.daily-tracking-cell {
    width: 12px;
    height: 12px;
    background: #f2f2f2ec;
    border-radius: 3px;
}

.daily-tracking-cell-activity-level-0 {
    background: #f2f2f2ec;
}

.daily-tracking-cell-activity-level-1 {
    background: #a0dbeb;
}

.daily-tracking-cell-activity-level-2 {
    background: #81cfe5;
}

.daily-tracking-cell-activity-level-3 {
    background: #61c3de;
}

.daily-tracking-cell-activity-level-4 {
    background: #4e9cb2;
}

.daily-tracking-cell-activity-level-5 {
    background: #3a7585;
}