@import './App.scss';

.activity-tracking__key {
    margin-top: $s-xs;
    display: flex;
    column-gap: 2px;
    align-items: center;
    font-size: $font-reg;
}

.activity-tracking__level-key {
    &:first-of-type {
        margin-right: $s-xxs;
    }

    &:last-of-type {
        margin-left: $s-xxs;
    }
}

.activity-tracking__level {
    height: 11px;
    width: 11px;
    background: red;

    &-1 {
        background-color: #f2f2f2ec;
    }

    &-2 {
        background-color: #a0dbeb;
    }

    &-3 {
        background-color: #61c3de;
    }

    &-4 {
        background-color: #4e9cb2;
    }
}